 <div class="user-details">
  <h1> My Expertise </h1>
  <p>I'm a nerd, software engineer, clean code enthusiast, sportsman, motorcycle rider, passionated cook and lover of challenges. I wrote my first program under the guidance of a book called "Delphi für Kids" when I was 13 years old. From that time on I was addicted to technology.</p>
  <p>After an educational training, I studied information technology at the Hochschule Bochum and started as a professional in 2015. Beside the hard tech skills, I embrace team spirit, software quality, test automation, well performing CI/CD Pipelines and clean code.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Dev</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-typescript-original colored"></i>
      <p>I started as a Java developer for backend systems and third party integration. After some time, I fell in love with the javascript ecosystem and this love grows more and more.</p>
    </div>
    <div class="tech">
      <h2>Ops</h2>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-redhat-plain "></i>
      <i class="devicon-amazonwebservices-plain colored "></i>
      <p>Since we live in a DevOps world, a few Ops skills cannot hurt either. I mostly ship my applications as containers on docker, OpenShift and Kubnernetes while sometimes leveraging AWS components.</p>
    </div>
</div>
